<% include ../partials/headerjournal %>

<div class="page-content">
	<div id="wrapper" class="fade-in">
		<!-- Main -->
		<div id="main">
			<% for(var i=0; i<journals.length;i++){ %>
				<!-- Featured Post -->
				<% if(i===0){%>
					<article class="post featured">
						<header class="major">
							<span class="date"><%=moment(journals[i].date).format('LL')%></span>
							<h2><%= journals[i].title %></h2>
							<p><%-journals[i].desc.substring(0,100)%>...</p>
						</header>
						<a href="#" class="image main"><img src="<%= journals[i].image %>" alt="" /></a>
						<ul class="actions">
							<li><a href="/journals/<%= journals[i]._id %>" class="button big">Full Story</a></li>
						</ul>
					</article>
					<!-- Posts -->
					<section class="posts">
					<% } else {%>
						<article>
							<header>
								<span class="date"><%=moment(journals[i].date).format('LL')%></span>
								<h2><%= journals[i].title %></h2>
							</header>
							<a href="#" class="image fit"><img src="<%= journals[i].image %>" alt="" /></a>
							<p><%-journals[i].desc.substring(0,100)%>...</p>
							<ul class="actions">
								<li><a href="/journals/<%= journals[i]._id %>" class="button">Full Story</a></li>
							</ul>
						</article>
					<% } } %>
					</section>
						<div class="pagination">
							<ul class="pagination">
						        <li>
						            <% for (var i = 0; i<pages;i++){ %>
						                <% if(i===0) {%>
						                    <li><a href="/journals"><%= i+1 %></a></li>
						                <% } else {%>
						                    <li><a href="/journals/page/<%= i %>"><%= (i+1) %></a></li>
						                <% } %>
						            <% } %>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
<!-- END PAGE CONTENT -->

<% include ../partials/footerjournal %>
