<% include ../partials/header %>
<div class="page-content">
<div class="container">
    <div class="row">
        <h2 style="text-align: center; margin-top:200px;">Edit <%= portfolio.name %> Portfolio</h2>
        <div style="margin: 50px auto;">
            <form action="/portfolios/<%= portfolio._id %>?_method=PUT" method="POST">
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    name
                    <input class="form-control" type="text" name="portfolio[name]" value="<%= portfolio.name %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image1
                    <input class="form-control" type="text" name="portfolio[image1]" value="<%= portfolio.image1 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image url
                    <input class="form-control" type="text" name="portfolio[image]" value="<%= portfolio.image %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image2
                    <input class="form-control" type="text" name="portfolio[image2]" value="<%= portfolio.image2 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    number of service
                    <input class="form-control" type="number" name="portfolio[numberofservice]" value="<%= portfolio.numberofservice %> of service">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image3
                    <input class="form-control" type="text" name="portfolio[image3]" value="<%= portfolio.image3 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service1
                    <input class="form-control" type="text" name="portfolio[service1]" value="<%= portfolio.service1 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image4
                    <input class="form-control" type="text" name="portfolio[image4]" value="<%= portfolio.image4 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service2
                    <input class="form-control" type="text" name="portfolio[service2]" value="<%= portfolio.service2 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image5
                    <input class="form-control" type="text" name="portfolio[image5]" value="<%= portfolio.image5 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service3
                    <input class="form-control" type="text" name="portfolio[service3]" value="<%= portfolio.service3 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image6
                    <input class="form-control" type="text" name="portfolio[image6]" value="<%= portfolio.image6 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service4
                    <input class="form-control" type="text" name="portfolio[service4]" value="<%= portfolio.service4 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image7
                    <input class="form-control" type="text" name="portfolio[image7]" value="<%= portfolio.image7 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    video
                    <input class="form-control" type="text" name="portfolio[video]" value="<%= portfolio.video %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image8
                    <input class="form-control" type="text" name="portfolio[image8]" value="<%= portfolio.image8 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    date
                    <input class="form-control" type="date" name="portfolio[date]" value="">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image9
                    <input class="form-control" type="text" name="portfolio[image9]" value="<%= portfolio.image9 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    host
                    <input class="form-control" type="text" name="portfolio[host]" value="<%= portfolio.host %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image10
                    <input class="form-control" type="text" name="portfolio[image10]" value="<%= portfolio.image10 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    desc
                    <textarea rows="10" cols="70" name="portfolio[desc]" value="<%= portfolio.desc %>"><%= portfolio.desc %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/portfolio">Go Back</a>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
