<% include ../partials/headerjournal %>
<style>
#main > .posts > article{
  border:none;
}
#main > *{
  border: none;
}
</style>
<div class="page-content" style="padding-top:100px">
  <div id="wrapper" class="fade-in">
    <!-- Main -->
    <div id="main">
      <!-- <div class="container" style="padding-top:120px;"> -->
     <!-- <% portfolios.forEach(function(portfolio){ %>
     <div class="padding">
        <div class="div_wrap">
          <a href="https://www.google.com">
            <img class="img_wrap" src="<%=portfolio.image%>" >
          </a>
          <p class="img_title"><br><%=portfolio.name%></p>
          <%if (portfolio.numberofservice === 4) {%>
          <p class="img_description"><br> <%=portfolio.service1%> <br> <%=portfolio.service2%> <br> <%=portfolio.service3%> <br> <%=portfolio.service4%> <br><a href="/portfolios/<%= portfolio._id %>" style="color:red">more</a></p>
          <% } else if (portfolio.numberofservice === 3){%>
          <p class="img_description" style="line-height:2.5"><br> <%=portfolio.service1%> <br> <%=portfolio.service2%> <br> <%=portfolio.service3%> <br><a href="/portfolios/<%= portfolio._id %>" style="color:red">more</a></p>
          <% } else if (portfolio.numberofservice === 2){%>
          <p class="img_description" style="line-height:2.8"><br> <%=portfolio.service1%> <br> <%=portfolio.service2%> <br><a href="/portfolios/<%= portfolio._id %>" style="color:red">more</a></p>
          <% } else if (portfolio.numberofservice === 1){%>
          <p class="img_description" style="padding-top:8%;"><%=portfolio.service1%> <br> <a href="/portfolios/<%= portfolio._id %>" style="color:red">more</a></p>
          <% } %>
        </div>
    </div>
    <% } ) %> -->
<!-- </div> -->
<!-- <div class="container">
  <select onchange="window.location.href=this.value">
      <option value="/">All Year</option>
      <option value="/portfolios/2017">2017</option>
      <option value="/portfolios/2016">2016</option>
      <option value="/portfolios/2015">2015</option>
  </select>
  <a href="/year/2015">2015&nbsp</a>|<a href="/year/2016">2016&nbsp</a>|<a href="/year/2017">2017&nbsp</a>
</div> -->
<section class="posts">
<% portfolios.forEach(function(portfolio){ %>
  <article>
    <header>
      <span class="date"><%=moment(portfolio.date).format('LL')%></span>
      <h2><%= portfolio.name %></h2>
    </header>
    <a href="#" class="image fit"><img src="<%= portfolio.image %>" alt="" /></a>
    <!-- <p><strong>Services: </strong><br> <%=portfolio.service1%> <br> <%=portfolio.service2%> <br> <%=portfolio.service3%> <br> <%=portfolio.service4%> <br></p> -->
    <p><%-portfolio.desc.substring(0,100)%>...</p>
    <ul class="actions">
      <li><a href="/portfolios/<%= portfolio._id %>" class="button">Read more</a></li>
    </ul>
  </article>
<% } ) %>
</section>

<ul class="pagination">
    <li>
        <% for (var i = 0; i< pages ; i++){ %>
            <% if(i===0) {%>
                <li><a href="/portfolios"><%= i+1 %></a></li>
            <% } else {%>
                <li><a href="/portfolios/page/<%= i %>"><%= (i+1) %></a></li>
            <% } %>
        <% } %>
    </li>
</ul>

</div>
</div>
</div>
<!-- END PAGE CONTENT -->

<% include ../partials/footerjournal %>
