<% include ../partials/header %>
<div class="page-content">
<div class="container">
    <div class="row">
        <h2 style="text-align: center; margin-top:200px;">Edit Landing</h2>
        <div style="margin: 50px auto;">
            <form action="/landing/<%= landing._id %>?_method=PUT" method="POST">
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image-title
                    <input class="form-control" type="text" name="landing[imagetitle]" value="<%= landing.imagetitle %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image-vision
                    <input class="form-control" type="text" name="landing[imagevision]" value="<%= landing.imagevision %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image-mission
                    <input class="form-control" type="text" name="landing[imagemission]" value="<%= landing.imagemission %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image-values
                    <input class="form-control" type="text" name="landing[imagevalues]" value="<%= landing.imagevalues %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image-contact
                    <input class="form-control" type="text" name="landing[imagecontact]" value="<%= landing.imagecontact %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-name1
                    <input class="form-control" type="text" name="landing[featuredname1]" value="<%= landing.featuredname1 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-image1
                    <input class="form-control" type="text" name="landing[featuredimage1]" value="<%= landing.featuredimage1 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-date1
                    <input class="form-control" type="text" name="landing[featureddate1]" value="<%= landing.featureddate1 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-link1
                    <input class="form-control" type="text" name="landing[featuredlink1]" value="<%= landing.featuredlink1 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-name2
                    <input class="form-control" type="text" name="landing[featuredname2]" value="<%= landing.featuredname2 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-image2
                    <input class="form-control" type="text" name="landing[featuredimage2]" value="<%= landing.featuredimage2 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-date2
                    <input class="form-control" type="text" name="landing[featureddate2]" value="<%= landing.featureddate2 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-link2
                    <input class="form-control" type="text" name="landing[featuredlink2]" value="<%= landing.featuredlink2 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-name3
                    <input class="form-control" type="text" name="landing[featuredname3]" value="<%= landing.featuredname3 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-image3
                    <input class="form-control" type="text" name="landing[featuredimage3]" value="<%= landing.featuredimage3 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-date3
                    <input class="form-control" type="text" name="landing[featureddate3]" value="<%= landing.featureddate3 %>">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    featured-link3
                    <input class="form-control" type="text" name="landing[featuredlink3]" value="<%= landing.featuredlink3 %>">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/dashboard/landing">Go Back</a>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
